In [ ]:
# experimental: you can run this cell to see your code full-width
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
#  run this cell without changing it. It only works on Noteable.
! printf "\n\nLink below can be send to someone to share your Noteable session:\n\nhttps://noteable.edina.ac.uk/user/$(jupyter notebook list | grep -oP '(?<=user\/).*(?=\/\?)' )/tree?token=$( jupyter notebook list | grep -oP '(?<=token=).*(?= ::)' )\n\n"

# Lab for badges 7-9

This badge has two sections: 

1. Solve some simple tasks using list comprehensions
2. Build a live 'bus tracker' using a bus data API https://pbs.twimg.com/media/Dape3PaXcAAyYCl.jpg

## Part 1: Small tasks

In [ ]:
import pprint as pp

In [ ]:
# given this data, try to answer below challanges. hint: use List comprehensions. 
# remember that often you you need to split the task into smaller chunks 

cities_uk = [{'Geo': {'AreaKm2': 1572,
          'Coordinates': {'Latitude': 51.51, 'Longitude': -0.13}},
          'Name': 'London',
          'Population': 8908081,
          'Year_Founded': 47},
         {'Geo': {'AreaKm2': 267.77,
                  'Coordinates': {'Latitude': 52.48, 'Longitude': -1.9}},
          'Name': 'Birmingham',
          'Population': 1137100,
          'Year_Founded': 601},
         {'Geo': {'AreaKm2': 551.7,
                  'Coordinates': {'Latitude': 53.8, 'Longitude': -1.55}},
          'Name': 'Leeds',
          'Population': 789194,
          'Year_Founded': 1893},
         {'Geo': {'AreaKm2': 3298,
                  'Coordinates': {'Latitude': 55.86, 'Longitude': -4.25}},
          'Name': 'Glasgow',
          'Population': 635640,
          'Year_Founded': 1454},
         {'Geo': {'AreaKm2': 142.06,
                  'Coordinates': {'Latitude': 53.38, 'Longitude': -1.47}},
          'Name': 'Sheffield',
          'Population': 577800,
          'Year_Founded': 701},
         {'Geo': {'AreaKm2': 110,
                  'Coordinates': {'Latitude': 51.45, 'Longitude': -2.58}},
          'Name': 'Bristol',
          'Population': 567111,
          'Year_Founded': 1155},
         {'Geo': {'AreaKm2': 115.6,
                  'Coordinates': {'Latitude': 53.47, 'Longitude': -2.23}},
          'Name': 'Manchester',
          'Population': 547627,
          'Year_Founded': 1301},
         {'Geo': {'AreaKm2': 111.84,
                  'Coordinates': {'Latitude': 53.41, 'Longitude': -2.99}},
          'Name': 'Liverpool',
          'Population': 513441,
          'Year_Founded': 1207},
         {'Geo': {'AreaKm2': 259,
                  'Coordinates': {'Latitude': 55.95, 'Longitude': -3.2}},
          'Name': 'Edinburgh',
          'Population': 488050,
          'Year_Founded': 601}]

cities_scotland = [
         {'Geo': {'AreaKm2': 3298,
                  'Coordinates': {'Latitude': 55.86, 'Longitude': -4.25}},
          'Name': 'Glasgow',
          'Population': 635640,
          'Year_Founded': 1454},
         {'Geo': {'AreaKm2': 259,
                  'Coordinates': {'Latitude': 55.95, 'Longitude': -3.2}},
          'Name': 'Edinburgh',
          'Population': 488050,
          'Year_Founded': 601}]

In [ ]:
cities_scotland[0]['Geo']['Coordinates']['Latitude']

In [ ]:
len([3,4,5,12,12,2,2,2,2])

### Tasks:

In [ ]:
def number_of_cities(some_cities):
    return len(some_cities)

print(number_of_cities(cities_scotland)) # see it work

In [ ]:
assert number_of_cities(cities_scotland) == 2
assert number_of_cities(cities_uk) == 9
print("tests passed")

In [ ]:
def cities_starting_with_letter(some_cities, first_letter):
    return [
        city['Name']
        for city in some_cities
        if city['Name'][0] == first_letter
    ]

print(cities_starting_with_letter(cities_uk, "E")) # see it work

In [ ]:
assert cities_starting_with_letter(cities_uk, "L") == ['London', 'Leeds', 'Liverpool']
assert cities_starting_with_letter(cities_uk, "B") == ['Birmingham', 'Bristol']
assert cities_starting_with_letter(cities_scotland, "L") == []
assert cities_starting_with_letter([], "L") == []
print("tests passed")

In [ ]:

def number_of_cities_north_of(some_cities, latitude):  
    northern_cities = [
        city
        for city in some_cities
        if city['Geo']['Coordinates']['Latitude'] > latitude
    ]
    return len(northern_cities)
    
pp.pprint(number_of_cities_north_of(cities_scotland, 55.0)) # see it work

In [ ]:
assert number_of_cities_north_of(cities_uk, 55.0) == 2
assert number_of_cities_north_of(cities_uk, 53.0) == 6
assert number_of_cities_north_of(cities_scotland, 55.0) == 2
print("tests passed")
# for simplicity let's assume everythong north of Gretna Green is 
# in Scotland(Latitude being larger than 55.00) ;)

In [ ]:
def percent_of_cities_north_of(some_cities, latitude): 
#     northern_cities = [
#         city
#         for city in some_cities
#         if city['Geo']['Coordinates']['Latitude'] > latitude
#     ]
#     return round(len(northern_cities) / len(some_cities) * 100)

# or

    number_northern_cities = number_of_cities_north_of( some_cities, latitude )
    return round(number_northern_cities / number_of_cities(some_cities) * 100)


# round the result before returning it
print(percent_of_cities_north_of(cities_uk, 55.0)) # see it work

In [ ]:
# [5,6,7,8,9,10]
# round(5/6 *100)

In [ ]:

assert percent_of_cities_north_of(cities_uk, 55.0) == 22
assert percent_of_cities_north_of(cities_uk, 53.0) == 67
assert percent_of_cities_north_of(cities_scotland, 55.0) == 100
print("tests passed")

In [ ]:
def number_of_large_cities(some_cities, minimum_population): 
    large_cities = [
        city
        for city in some_cities
        if city['Population'] > minimum_population
    ]
    return len(large_cities)

print(number_of_large_cities(cities_uk, 1500000)) # see it work

In [ ]:
assert number_of_large_cities(cities_uk, 1500000) == 1
assert number_of_large_cities(cities_uk, 1000000) == 2
assert number_of_large_cities(cities_uk, 500000) == 8
assert number_of_large_cities(cities_scotland, 500000) == 1
print("tests passed")

# ⛏ Edinburgh Lothian Busses Timetable

Below is the API of Lothian Busses, Edinburgh's local bus company. We'd like you to try to understand that data, and then print it in a meaningful way.

Some functions are given below which will give you access to a **list of dictionaries**. Each item in a list will be info abotu one bus services leaving soon from a particular busstop. We'll look at the busses going to Business School or University of Edinburgh from Leith (northen part of Edinburgh). 

Below you will see:

- the structure of the data,
- some examples
- some task

Use what you learned up until now to extract and style the bus timetable. Here is a photo of how bus timetable looks like when it is displayed on the digital display at the actual busstop: https://pbs.twimg.com/media/Dape3PaXcAAyYCl.jpg

Also this is the link to live api data (remember that pprint in your python code, and jsonviewer extension in your chrome will make it easier to see it in a clear way): https://tfe-opendata.com/api/v1/live_bus_times/36236563

To make above JSON data look MUCH BETTER in your browser. Use this Chrome extension: https://chrome.google.com/webstore/detail/json-viewer/gbmdgpbipfallnflgajpaliibnhdgobh 

Also, here is the official API documentation: https://tfe-opendata.readme.io/docs/live-bus-times

**And here's a tracker that someone has built, which is using exactly the same data you will be looking at**

http://www.mybustracker.co.uk/?module=mobile&mode=2&busStopService=43&busStopDest=2850816&busStopCode=36235975&subBusStop=Display+Departures

or

https://www.lothianbuses.com/live-travel-info/live-bus-times/?stop_id=6200243370

# Demo code to get you started:

In [2]:
import requests 
import pprint as pp 
from datetime import timedelta, date, datetime 
import pytz # timezones
# you might see a pink warning with 'RequestsDependencyWarning'. Just ignore it for now.

In [3]:
def get_buses_coming_soon(stop_id): 
    apiurl = f"https://tfe-opendata.com/api/v1/live_bus_times/{stop_id}" 
    print(apiurl)
    response = requests.request("GET", apiurl) 
    all_busses = response.json() 
    return all_busses

`get_buses_coming_soon` gets all routes from one bus stop. 

Result is a List of Dictionaries. Where each dictionary is one route (one bus number eg. 22). Route dictionary has just two keys. What are they?

Brace! this will print a lot of data!
but have a look at the very beginning of it! What is it? List? Of What? List of Dictionaries?

Read below for some hints

In [4]:
# eg. 36235975 is an id of a bus stop on Princess Street
# in city center of Edinburgh 
princess_st_stop_id = 36235975
routes = get_buses_coming_soon( princess_st_stop_id )

https://tfe-opendata.com/api/v1/live_bus_times/36235975

In [5]:
pp.pprint(len(routes))

6

In [6]:
pp.pprint(routes)

[{'departures': [{'departureTime': '2024-03-08T18:53:45+00:00',
                  'departureTimeUnix': 1709924025,
                  'destination': 'Fairmilehead',
                  'displayTime': '18:53',
                  'ineoUTCTime': '18:53:45',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '4',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 1,
                  'tripId': '6043',
                  'vehicleId': '1024'},
                 {'departureTime': '2024-03-08T19:11:45+00:00',
                  'departureTimeUnix': 1709925105,
                  'destination': 'Fairmilehead',
                  'displayTime': '19:11',
                  'ineoUTCTime': '19:11:45',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '4',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 15,
                  'tripId': '6063',
                  'vehicleId': '1032'},
                 {'departureTime': '2024-03-08T19:27:05+00:00',
                  'departureTimeUnix': 1709926025,
                  'destination': 'Fairmilehead',
                  'displayTime': '19:27',
                  'ineoUTCTime': '19:27:05',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '4',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 27,
                  'tripId': '6078',
                  'vehicleId': '1009'},
                 {'departureTime': '2024-03-08T19:50:18+00:00',
                  'departureTimeUnix': 1709927418,
                  'destination': 'Fairmilehead',
                  'displayTime': '19:50',
                  'ineoUTCTime': '19:50:18',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '4',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 28,
                  'tripId': '6098',
                  'vehicleId': '1031'}],
  'routeName': '4'},
 {'departures': [{'departureTime': '2024-03-08T18:55:27+00:00',
                  'departureTimeUnix': 1709924127,
                  'destination': 'Clermiston',
                  'displayTime': '18:55',
                  'ineoUTCTime': '18:55:27',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '1',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 1,
                  'tripId': '3111',
                  'vehicleId': '34'},
                 {'departureTime': '2024-03-08T19:09:46+00:00',
                  'departureTimeUnix': 1709924986,
                  'destination': 'Clermiston',
                  'displayTime': '19:09',
                  'ineoUTCTime': '19:09:46',
                  'isDiverted': False,
                  'isLive': False,
                  'isTerminatingHere': False,
                  'routeName': '1',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 15,
                  'tripId': '3193',
                  'vehicleId': '35'},
                 {'departureTime': '2024-03-08T19:42:46+00:00',
                  'departureTimeUnix': 1709926966,
                  'destination': 'Clermiston',
                  'displayTime': '19:42',
                  'ineoUTCTime': '19:42:46',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '1',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 17,
                  'tripId': '3208',
                  'vehicleId': '376'},
                 {'departureTime': '2024-03-08T20:16:46+00:00',
                  'departureTimeUnix': 1709929006,
                  'destination': 'Clermiston',
                  'displayTime': '20:16',
                  'ineoUTCTime': '20:16:46',
                  'isDiverted': False,
                  'isLive': False,
                  'isTerminatingHere': False,
                  'routeName': '1',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 17,
                  'tripId': '3159',
                  'vehicleId': '12'}],
  'routeName': '1'},
 {'departures': [{'departureTime': '2024-03-08T18:56:03+00:00',
                  'departureTimeUnix': 1709924163,
                  'destination': 'Heriot Watt',
                  'displayTime': '18:56',
                  'ineoUTCTime': '18:56:03',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '25',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 1,
                  'tripId': '3755',
                  'vehicleId': '624'},
                 {'departureTime': '2024-03-08T18:57:47+00:00',
                  'departureTimeUnix': 1709924267,
                  'destination': 'Heriot Watt',
                  'displayTime': '18:57',
                  'ineoUTCTime': '18:57:47',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '25',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 2,
                  'tripId': '3657',
                  'vehicleId': '660'},
                 {'departureTime': '2024-03-08T19:05:54+00:00',
                  'departureTimeUnix': 1709924754,
                  'destination': 'Heriot Watt',
                  'displayTime': '19:05',
                  'ineoUTCTime': '19:05:54',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '25',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 7,
                  'tripId': '3689',
                  'vehicleId': '632'},
                 {'departureTime': '2024-03-08T19:07:54+00:00',
                  'departureTimeUnix': 1709924874,
                  'destination': 'Heriot Watt',
                  'displayTime': '19:07',
                  'ineoUTCTime': '19:07:54',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '25',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 10,
                  'tripId': '3744',
                  'vehicleId': '601'}],
  'routeName': '25'},
 {'departures': [{'departureTime': '2024-03-08T18:59:17+00:00',
                  'departureTimeUnix': 1709924357,
                  'destination': 'Torphin',
                  'displayTime': '18:59',
                  'ineoUTCTime': '18:59:17',
                  'isDiverted': False,
                  'isLive': False,
                  'isTerminatingHere': False,
                  'routeName': '16',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 3,
                  'tripId': '854',
                  'vehicleId': '1092'},
                 {'departureTime': '2024-03-08T19:15:05+00:00',
                  'departureTimeUnix': 1709925305,
                  'destination': 'Torphin',
                  'displayTime': '19:15',
                  'ineoUTCTime': '19:15:05',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '16',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 15,
                  'tripId': '1420',
                  'vehicleId': '1115'},
                 {'departureTime': '2024-03-08T19:31:07+00:00',
                  'departureTimeUnix': 1709926267,
                  'destination': 'Torphin',
                  'displayTime': '19:31',
                  'ineoUTCTime': '19:31:07',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '16',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 36,
                  'tripId': '938',
                  'vehicleId': '1120'},
                 {'departureTime': '2024-03-08T19:43:21+00:00',
                  'departureTimeUnix': 1709927001,
                  'destination': 'Torphin',
                  'displayTime': '19:43',
                  'ineoUTCTime': '19:43:21',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '16',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 38,
                  'tripId': '1407',
                  'vehicleId': '1118'}],
  'routeName': '16'},
 {'departures': [{'departureTime': '2024-03-08T19:02:41+00:00',
                  'departureTimeUnix': 1709924561,
                  'destination': 'Heriot Watt',
                  'displayTime': '19:02',
                  'ineoUTCTime': '19:02:41',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '34',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 7,
                  'tripId': '4090',
                  'vehicleId': '570'},
                 {'departureTime': '2024-03-08T19:16:34+00:00',
                  'departureTimeUnix': 1709925394,
                  'destination': 'Heriot Watt',
                  'displayTime': '19:16',
                  'ineoUTCTime': '19:16:34',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '34',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 22,
                  'tripId': '4160',
                  'vehicleId': '605'},
                 {'departureTime': '2024-03-08T19:45:03+00:00',
                  'departureTimeUnix': 1709927103,
                  'destination': 'Heriot Watt',
                  'displayTime': '19:45',
                  'ineoUTCTime': '19:45:03',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '34',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 24,
                  'tripId': '4186',
                  'vehicleId': '1151'},
                 {'departureTime': '2024-03-08T20:05:03+00:00',
                  'departureTimeUnix': 1709928303,
                  'destination': 'Heriot Watt',
                  'displayTime': '20:05',
                  'ineoUTCTime': '20:05:03',
                  'isDiverted': False,
                  'isLive': False,
                  'isTerminatingHere': False,
                  'routeName': '34',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 24,
                  'tripId': '4127',
                  'vehicleId': '553'}],
  'routeName': '34'},
 {'departures': [{'departureTime': '2024-03-08T19:30:50+00:00',
                  'departureTimeUnix': 1709926250,
                  'destination': 'Edinburgh',
                  'displayTime': '19:30',
                  'ineoUTCTime': '19:30:50',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '124',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 35,
                  'tripId': '589',
                  'vehicleId': '1057'},
                 {'departureTime': '2024-03-08T19:51:41+00:00',
                  'departureTimeUnix': 1709927501,
                  'destination': 'Edinburgh',
                  'displayTime': '19:51',
                  'ineoUTCTime': '19:51:41',
                  'isDiverted': False,
                  'isLive': True,
                  'isTerminatingHere': False,
                  'routeName': '124',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 58,
                  'tripId': '521',
                  'vehicleId': '515'},
                 {'departureTime': '2024-03-08T21:10:45+00:00',
                  'departureTimeUnix': 1709932245,
                  'destination': 'Edinburgh',
                  'displayTime': '21:10',
                  'ineoUTCTime': '21:10:45',
                  'isDiverted': False,
                  'isLive': False,
                  'isTerminatingHere': False,
                  'routeName': '124',
                  'sms': '36235975',
                  'stopPoint': None,
                  'stopSequence': 93,
                  'tripId': '489',
                  'vehicleId': '1058'}],
  'routeName': '124'}]

Basically the format is:

**routes** - a List with all the bus routes that use it

..each item in **routes** - a Dictionary describing one route with following keys: **departures**, and **routeName**
    
....**routeName** is just the name of the bus service, eg. '22'
        
....**departures** is a List with Dictionaries, each representing info of one incomming bus.

In [7]:
# some examples:
# one stop
first_route = routes[0]
pp.pprint(first_route['routeName'])

'4'

In [8]:
# first bus service's routeName
first_route_name = routes[0]['routeName'] 
print(first_route_name)

4

In [9]:
first_route_departures = routes[0]['departures'] 
print(f"The {first_route_name} has {len(first_route_departures)} vehicles coming soon")

The 4 has 4 vehicles coming soon

In [10]:
name = "Kim"
print(f"my name is {name}")

my name is Kim

All departures for this stop (note that this api uses timezones, so we will have to also)
instead of just datetime.now() we will use datetime.now(pytz.timezone('Europe/London'))

In [11]:
print("next bus of the first route:") 
pp.pprint(routes[0]['departures'][0])

next bus of the first route:
{'departureTime': '2024-03-08T18:53:45+00:00',
 'departureTimeUnix': 1709924025,
 'destination': 'Fairmilehead',
 'displayTime': '18:53',
 'ineoUTCTime': '18:53:45',
 'isDiverted': False,
 'isLive': True,
 'isTerminatingHere': False,
 'routeName': '4',
 'sms': '36235975',
 'stopPoint': None,
 'stopSequence': 1,
 'tripId': '6043',
 'vehicleId': '1024'}

## Task:

Here are a few tasks to explore the data and list comprehensions:

- Write a function to display all route numbers in `routes` variable
- Write a function to get all bus destinations in a route
- extra: use the second function and apply it to each route using list comprehension

If any of these are too hard, don't worry and keep going through the notebook. More explanations coming.

In [12]:
def get_route_numbers(some_routes):
    return [
        route['routeName']
        for route in some_routes
    ]

get_route_numbers(routes)

['4', '1', '25', '16', '34', '124']

In [14]:
def destinations_of_one_route(one_route):
    all_departures = one_route['departures']
    return [
        departure['destination']
        for departure in all_departures
    ]

# or
#     return [
#         departure['destination']
#         for departure in one_route['departures']
#     ]

destinations_of_one_route(routes[0])

['Fairmilehead', 'Fairmilehead', 'Fairmilehead', 'Fairmilehead']

In [15]:
def get_destinations(some_routes):
    return [
        destinations_of_one_route(route)
        for route in some_routes
    ]

get_destinations(routes)

[['Fairmilehead', 'Fairmilehead', 'Fairmilehead', 'Fairmilehead'],
 ['Clermiston', 'Clermiston', 'Clermiston', 'Clermiston'],
 ['Heriot Watt', 'Heriot Watt', 'Heriot Watt', 'Heriot Watt'],
 ['Torphin', 'Torphin', 'Torphin', 'Torphin'],
 ['Heriot Watt', 'Heriot Watt', 'Heriot Watt', 'Heriot Watt'],
 ['Edinburgh', 'Edinburgh', 'Edinburgh']]

In [16]:
# def make_it_double(word):
#     return word + word
# make_it_double("banana")

In [ ]:
# you can add more empty cells with the plus icon

## Dealing with time and date

This dataset describes time and date. Usually one needs to prepare such data, eg. adjust time zone.
Then you often need to make the data meaningful eg. say how many hours or minutes ago something was.
Finally there are ways to show data in more human-friendly ways eg. "3rd of September" or "11:23pm". To achieve that you usually perform create 'date objects' from your source data, then turn those date objects into format you'd like.

eg. string `2023-03-09 18:22:24+00:00` can be turned it in into `datetime.datetime object` (which when printed looks very simmilar `2023-03-09 18:22:24+00:00`), but if you check its type, it will not be `string`.

Just like string `"33"` and number `33` look the same when printed. But when you add `1` to them one will result in `34` and one will result in an error, or `133`.

In [17]:
princess_st_stop_id = 36235975
routes = get_buses_coming_soon( princess_st_stop_id )

https://tfe-opendata.com/api/v1/live_bus_times/36235975

In [19]:
# first route, first vehicle
departure_time_from_api = routes[0]['departures'][0]['departureTime']
print(departure_time_from_api)
print(type(departure_time_from_api)) # what type of variable is departure_time_from_api

2024-03-08T18:55:52+00:00
<class 'str'>

In [20]:
# here's a step-by-step process of taking a complex date format into something simpler:
bus_time_object = datetime.fromisoformat(departure_time_from_api) 
print(bus_time_object)
print(type(bus_time_object)) # what type of variable is bus_time_object
# time object

2024-03-08 18:55:52+00:00
<class 'datetime.datetime'>

In [21]:
bus_time_str = bus_time_object.strftime("%M minutes past %H %Y") 
print(bus_time_str)
# object turned back into string, but in the %H:%M string format

55 minutes past 18 2024

Date objects are useful, because you can turn them into strings in the format of yoru choice. Eg. `3rd Sep 2023` or `03-09-23`.

Let's get the time when the bus is due and try some of our newly-learned Date/Time manipulation!

We'll need to find out what time is it right now in Edinburgh. Then subtract bus time from it to see how much more time is left:

In [22]:
datetime.now()

datetime.datetime(2024, 3, 8, 19, 59, 29, 708061)

In [41]:
time_now_in_edinburgh = datetime.now(pytz.timezone('Europe/London'))
print(time_now_in_edinburgh)
print(bus_time_object)
time_till_bus = time_now_in_edinburgh - bus_time_object

print(time_till_bus)
print(type(time_till_bus)) # this is object of type datetime.timedelta

print("seconds", time_till_bus.seconds)
print("minutes", time_till_bus.seconds // 60)

2024-03-08 19:01:11.379951+00:00
2024-03-08 18:55:52+00:00
0:05:19.379951
<class 'datetime.timedelta'>
seconds 319
minutes 5

In [43]:
# eg. turn '2023-03-09T18:22:24+00:00' into '18:22'
def date_into_human_form(time_from_api):
    bus_time_object = datetime.fromisoformat(time_from_api) 
    bus_time_str = bus_time_object.strftime("%H:%M") 
    return bus_time_str

print(date_into_human_form('2023-03-09T18:22:24+00:00'))
print(date_into_human_form(departure_time_from_api))

18:22
18:55

In [44]:
# eg. if the time is 18:10 turn '2023-03-09T18:22:24+00:00' into 12 (because it is in 12 minutes)
def date_into_minutes_from_now(time_from_api):
    bus_time_object = datetime.fromisoformat(time_from_api)
    time_now = datetime.now(pytz.timezone('Europe/London'))
    
    # depending if bus is in the future, or not, calculate it's arrival differently:    
    if bus_time_object >= time_now:
        #  if now is 12:30 and bus is at 12:34, then it is in 4 minutes      
        time_till = bus_time_object - time_now 
        return time_till.seconds // 60
    else:
        #  if now is 12:30 and bus was at 12:20, then it is in -10 minutes      
        time_till = (time_now - bus_time_object)
        return  time_till.seconds // 60 * -1

print("departure time", departure_time_from_api)
print("minutes from now", date_into_minutes_from_now(departure_time_from_api))

departure time 2024-03-08T18:55:52+00:00
minutes from now -6

In [45]:
# let's turn data into something meaningful:
first_route_name = routes[0]['routeName']
first_bus_time = routes[0]['departures'][0]['departureTime']
first_bus_human = date_into_human_form(first_bus_time)
first_bus_in_minutes = date_into_minutes_from_now(first_bus_time)

print(first_route_name)
print( first_bus_time)
print( first_bus_human)
print( first_bus_in_minutes)

25
2024-03-08T18:55:52+00:00
18:55
-6

In [46]:
# and let's present it as a string
print(f"Next {first_route_name} is at {first_bus_human:*^20} (in {first_bus_in_minutes:.0f} m)")

Next 25 is at *******18:55******** (in -6 m)

In [47]:
# this could be further improved with a function which turns 
# 3 into 'in 3 minutes', 0 to 'DUE' and -10 into '10 minutes ago'
def minutes_to_word(minutes):
    if minutes == 0:
        return "DUE"
    elif minutes < 0:
        return f"{minutes * -1} minutes ago"
    else:
        return f"in {minutes} minutes"

when = minutes_to_word(first_bus_in_minutes)
print(f"Next bus number {first_route_name} is at {bus_time_str:*^13} ({when})")

Next bus number 25 is at 55 minutes past 18 2024 (6 minutes ago)

## Tasks:

- Try to use a list comprehension to create a string desctiption (like above) for each departure for the first route. Make the desciption meaningful, and try to use Date/Time information. Remember that the easiest way to do it is by creating a function that takes a departure and turns it into a string, a bit like this:

In [48]:
# example: show destination of each departure
def where_it_goes(departure):
    when_it_leaves = departure['departureTime']
    in_minutes = date_into_minutes_from_now(when_it_leaves)
    minutes_as_word = minutes_to_word(in_minutes)
    return f"Bus {departure['routeName']} to {departure['destination']} {minutes_as_word}" 

def route_into_destinations(one_route):
    return [
        where_it_goes(departure)
        for departure in one_route['departures']
    ]

def all_routes_into_destinations(some_routes):
    return [
        route_into_destinations(route)
        for route in some_routes
    ]

all_routes_into_destinations(routes)

[['Bus 25 to Heriot Watt 8 minutes ago',
  'Bus 25 to Heriot Watt 6 minutes ago',
  'Bus 25 to Heriot Watt in 3 minutes',
  'Bus 25 to Heriot Watt in 3 minutes'],
 ['Bus 1 to Clermiston 7 minutes ago',
  'Bus 1 to Clermiston in 4 minutes',
  'Bus 1 to Clermiston in 38 minutes',
  'Bus 1 to Clermiston in 72 minutes'],
 ['Bus 16 to Torphin 4 minutes ago',
  'Bus 16 to Torphin in 9 minutes',
  'Bus 16 to Torphin in 28 minutes',
  'Bus 16 to Torphin in 39 minutes'],
 ['Bus 34 to Heriot Watt 1 minutes ago',
  'Bus 34 to Heriot Watt in 21 minutes',
  'Bus 34 to Heriot Watt in 40 minutes',
  'Bus 34 to Heriot Watt in 60 minutes'],
 ['Bus 4 to Fairmilehead in 7 minutes',
  'Bus 4 to Fairmilehead in 24 minutes',
  'Bus 4 to Fairmilehead in 46 minutes',
  'Bus 4 to Fairmilehead in 76 minutes'],
 ['Bus 124 to Edinburgh in 25 minutes',
  'Bus 124 to Edinburgh in 48 minutes',
  'Bus 124 to Edinburgh in 126 minutes']]

## Presenting data in a prettier format: ⭐️

In [49]:
# advanced, but fun, for those who like using functions:
# you can try to split your data presentation into stages.
# you could print from your functions, but it's cleaner to return strings and print them outside 

def bus_route_report(route_info):
    return f"🚌 {route_info['routeName']:>5} has {len(route_info['departures']):2} buses  💨"

def all_services_as_lines(some_routes):
    return [
         bus_route_report(route)
         for route in some_routes   
    ]

pp.pprint( all_services_as_lines(routes) ) # this will print a list of strings like ['a','b','c']

['🚌    25 has  4 buses  💨',
 '🚌     1 has  4 buses  💨',
 '🚌    16 has  4 buses  💨',
 '🚌    34 has  4 buses  💨',
 '🚌     4 has  4 buses  💨',
 '🚌   124 has  3 buses  💨']

### bonus code: Connect List to strings, using Enter (new line)

To connect a list of stings into one string, using some delimited/connector:

`"some_delimiter".join(some_list)`

eg.

`":)".join(["banana","kiwi","plum"])`

In [50]:
fruit = ["banana","kiwi","plum"]
print(" ⭐️ ".join(fruit))
print("**".join(fruit))

banana ⭐️ kiwi ⭐️ plum
banana**kiwi**plum

In [51]:
# Applied to our previous data
print( "\n".join(all_services_as_lines(routes) ))
# notice we are not using pp.pprint() because it will try to be 'too helpful'. try it and see the difference

🚌    25 has  4 buses  💨
🚌     1 has  4 buses  💨
🚌    16 has  4 buses  💨
🚌    34 has  4 buses  💨
🚌     4 has  4 buses  💨
🚌   124 has  3 buses  💨

In [52]:
# or as a pretty function:
def all_services_formatted(some_routes):
    return "\n".join(all_services_as_lines(some_routes))

print(all_services_formatted(routes))

🚌    25 has  4 buses  💨
🚌     1 has  4 buses  💨
🚌    16 has  4 buses  💨
🚌    34 has  4 buses  💨
🚌     4 has  4 buses  💨
🚌   124 has  3 buses  💨

# If you still have time: Try to recreate ANYTHING SIMMILAR to the bus tracker in the picture: https://pbs.twimg.com/media/Dape3PaXcAAyYCl.jpg

Do not worry about the details, Or making it exactly like this - just try to get something working and try to make it look like nice. Try to play with it, and try to use as many skills you learned during this badge as you can.



We already wrote for you some the code to get the busses comming to Business School from Leith.
You just need to format the results, so they look prettier :)
this is the method to get the next busses. No need to change it.


for example:

```
Next busses nr 17 are coming in 5,25,55 minutes
Next busses nr 21 are coming in 15,45 minutes
Next busses nr 44 are coming in 2,42 minutes
```

or even:

```
Services leaving from this busstop: 17,21,44
```

In [53]:
# expanding on our previous code:

# def one_bus_report(departure):
#     when_it_leaves = departure['departureTime']
#     in_minutes = date_into_minutes_from_now(when_it_leaves)
#     minutes_as_word = minutes_to_word(in_minutes)
#     return f"Bus {departure['routeName']} to {departure['destination']} {minutes_as_word}" 

def one_bus_report(one_bus_info):
    when_it_leaves = one_bus_info['departureTime']
    in_minutes = date_into_minutes_from_now(when_it_leaves)
    human_time = date_into_human_form(when_it_leaves)
    minutes_as_word = minutes_to_word(in_minutes)
    
    report = f"to {one_bus_info['destination']:.<20}"
    report += f"{human_time:.>10}"
    report += f" ({minutes_as_word})"

    return report

example_bus = {'departureTime': '2021-10-22T20:20:14+01:00','destination': 'Colinton'}
one_bus_report(example_bus)

'to Colinton.................20:20 (1425 minutes ago)'

In [54]:
def one_route_info(one_route):
    just_next_departure = one_bus_report(one_route['departures'][0])
    return f"Route {one_route['routeName']:>3} {just_next_departure}"

example_route = {
    'routeName': 16,
    'departures': [
                    {'departureTime': '2021-10-22T20:20:14+01:00','destination': 'Colinton'},
                    {'departureTime': '2021-10-22T22:54:14+01:00','destination': 'Colinton'}
                  ]
    }
one_route_info(example_route)

'Route  16 to Colinton.................20:20 (1426 minutes ago)'

In [56]:
def all_routes_info(some_routes):
    return [
        one_route_info(route)
        for route in some_routes
    ]

example_routes = [{
    'routeName': 16,
    'departures': [
                    {'departureTime': '2021-10-22T20:20:14+01:00','destination': 'Colinton'},
                    {'departureTime': '2021-10-22T22:54:14+01:00','destination': 'Colinton'}
                  ]
    },
    {
    'routeName': 22,
    'departures': [
                    {'departureTime': '2021-10-22T20:25:10+01:00','destination': 'Gyle'},
                    {'departureTime': '2021-10-22T22:57:14+01:00','destination': 'Gyle'}
                  ]
    }]

all_routes_info(example_routes)

['Route  16 to Colinton.................20:20 (1426 minutes ago)',
 'Route  22 to Gyle.....................20:25 (1421 minutes ago)']

In [57]:
# and now with the real, fresh data:
princess_st_stop_id = 36235975
routes = get_buses_coming_soon( princess_st_stop_id )

all_routes_info(routes)

https://tfe-opendata.com/api/v1/live_bus_times/36235975

['Route   1 to Clermiston...............19:12 (in 5 minutes)',
 'Route   4 to Fairmilehead.............19:12 (in 5 minutes)',
 'Route  25 to Heriot Watt..............19:12 (in 5 minutes)',
 'Route  16 to Torphin..................19:17 (in 10 minutes)',
 'Route  34 to Heriot Watt..............19:30 (in 23 minutes)',
 'Route 124 to Edinburgh................19:31 (in 24 minutes)']

In [ ]:
# and if we wanted to add more bus departures at the end, like
# 'Route  25 to Heriot Watt..............15:31 (and then in 12,32,52 minutes)'
# We'd need to change some functions, see below

In [58]:
def one_bus_just_minutes(one_bus_info):
    when_it_leaves = one_bus_info['departureTime']
    in_minutes = date_into_minutes_from_now(when_it_leaves)
    return in_minutes

example_bus = {'departureTime': '2021-10-22T20:20:14+01:00','destination': 'Colinton'}
one_bus_just_minutes(example_bus)

-1426

In [59]:
def one_route_info(one_route):
    first_departure = one_bus_report(one_route['departures'][0])
    other_departures_as_minutes = [
        f"{one_bus_just_minutes(departure)}min"
        for departure in one_route['departures'][1:] # subset, from index 0 till the end
    ]
    other_dep_as_string = ", ".join(other_departures_as_minutes)
    return f"Route {one_route['routeName']:>3} {first_departure:<50} then {other_dep_as_string:.<25}"

one_route_info(routes[0])

'Route   1 to Clermiston...............19:12 (in 4 minutes)   then 35min, 69min, 99min......'

In [60]:
def all_routes_info(some_routes):
    routes_info_as_strings = [
        one_route_info(route)
        for route in some_routes
    ]
    
    result = "***********************************************************************************************\n* "
    result += " *\n* ".join(routes_info_as_strings)
    result += " *\n***********************************************************************************************"
    return result

print(all_routes_info(routes))

***********************************************************************************************
* Route   1 to Clermiston...............19:12 (in 4 minutes)   then 35min, 69min, 99min...... *
* Route   4 to Fairmilehead.............19:12 (in 4 minutes)   then 21min, 42min, 72min...... *
* Route  25 to Heriot Watt..............19:12 (in 4 minutes)   then 9min, 17min, 43min....... *
* Route  16 to Torphin..................19:17 (in 9 minutes)   then 33min, 35min, 49min...... *
* Route  34 to Heriot Watt..............19:30 (in 22 minutes)  then 41min, 61min, 81min...... *
* Route 124 to Edinburgh................19:31 (in 23 minutes)  then 46min, 123min............ *
***********************************************************************************************

In [61]:
# Finally, you could write a function that does it all:
# - gets the data
# - prepares it, 
# - returns it as a string:
def one_stop_info(stop_number):
    some_routes = get_buses_coming_soon( stop_number )
    routes_info_as_strings = [
        one_route_info(route)
        for route in some_routes
    ]
    
    header = f"STOP ID: {stop_number}"
    result = f"{header:*^95}\n* "
    result += " *\n* ".join(routes_info_as_strings)
    result += " *\n***********************************************************************************************"
    return result

In [62]:
princess_st_stop_id = 36235975
print(one_stop_info(princess_st_stop_id))

https://tfe-opendata.com/api/v1/live_bus_times/36235975
***************************************STOP ID: 36235975***************************************
* Route   1 to Clermiston...............19:11 (in 3 minutes)   then 34min, 68min, 98min...... *
* Route   4 to Fairmilehead.............19:13 (in 5 minutes)   then 20min, 42min, 72min...... *
* Route  25 to Heriot Watt..............19:13 (in 5 minutes)   then 10min, 24min, 43min...... *
* Route  16 to Torphin..................19:16 (in 8 minutes)   then 33min, 35min, 49min...... *
* Route  34 to Heriot Watt..............19:30 (in 22 minutes)  then 41min, 61min, 81min...... *
* Route 124 to Edinburgh................19:31 (in 23 minutes)  then 44min, 122min............ *
***********************************************************************************************